<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <footer class="py-5 bg-light">
      <div class="container">
        <div class="row border-bottom">
          <div class="col-12 col-lg-3 mb-5">
            <a class="d-inline-block mb-4" href="#">
              <img
                class="img-fluid"
                src="/images/logo-salud-bienestar.svg"
                alt=""
                width="96px"
            /></a>
            <p class="text-muted mb-5">Mejorando tu calidad de vida.</p>
            <div>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-facebook fs-5"></i
                ></a>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-instagram fs-5"></i
                ></a>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-youtube fs-5"></i
                ></a>
                <a class="d-inline-block" href="#">
                  <i class="bi bi-twitter fs-5"></i
                ></a>
              </div>
          </div>
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col-6 col-lg-3 offset-lg-3 mb-5">
                <h4 class="mb-4">Sitio</h4>
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-muted" href="registrousuarios.html"
                      >Registro</a
                    >
                  </li>
                  <li class="mb-2">
                    <a class="text-muted" href="#">Preguntas frecuentes</a>
                  </li>
                  <li><a class="text-muted" href="#">Contacto</a></li>
                </ul>
              </div>
              <div class="col-6 col-lg-3 mb-5">
                <h4 class="mb-4">Legales</h4>
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-muted" href="#">Términos</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-muted" href="#">Acerca de</a>
                  </li>
                  <li><a class="text-muted" href="#">Privacidad</a></li>
                </ul>
              </div>
              <div class="col-6 col-lg-3 mb-5">
                <h4 class="mb-4">Recursos</h4>
                <ul class="list-unstyled">
                  <li class="mb-2">
                    <a class="text-muted" href="#">Blog</a>
                  </li>
                  <li class="mb-2">
                    <a class="text-muted" href="#">Servicios</a>
                  </li>
                  <li><a class="text-muted" href="#">Multimedia</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-5 text-center">
          <p>
            Todos los derechos reservados © Grupo 32 - Programación Visual 2023
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
