<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg py-4 position-relative bg-white">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="/images/logo-salud-bienestar.svg" alt="" width="106"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="d-none d-lg-flex navbar-nav mx-auto mt-3 mt-lg-0 mb-3 mb-lg-0 position-absolute top-50 start-50 translate-middle"
          >
            <li class="nav-item me-3">
              <a class="nav-link" th:href="@{/inicio}" >Inicio</a>
                                
              
              
              
            </li>
            <li class="nav-item dropdown me-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="calcularimc.html"
                    >Calcular IMC</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="pesoideal.html">Peso Ideal</a>
                </li>
              </ul>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="recetas.html">Recetas</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" th:href="@{/testimonio/inicio}">Testimonios</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="contactanos.html">Contactanos</a>
            </li>
            <li class="nav-item dropdown me-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownGestion"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Gestión de datos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownGestion">
                <li>
                  <a class="dropdown-item" href="gesrecetas.html"
                    >Gest. Recetas</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="gestestimonios.html"
                    >Gest. Testimonios</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="gesingredientes.html"
                    >Gest. Ingredientes</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav mt-3 mt-lg-0 mb-3 mb-lg-0 d-lg-none">
            <li class="nav-item me-4">
              <a class="nav-link" th:href="@{/inicio}">Inicio</a>
            </li>
            <li class="nav-item dropdown me-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMobile"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMobile">
                <li>
                  <a class="dropdown-item" href="calcularimc.html"
                    >Calcular IMC</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="pesoideal.html">Peso Ideal</a>
                </li>
              </ul>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="recetas.html">Recetas</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" th:href="@{testimonio/inicio}">Testimonios</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="contactanos.html">Contactanos</a>
            </li>
            <li class="nav-item dropdown me-3">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownGestionMobile"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Gestión de datos
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownGestionMobile"
              >
                <li>
                  <a class="dropdown-item" href="gesrecetas.html"
                    >Gest. Recetas</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="gestestimonios.html"
                    >Gest. Testimonios</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="gesingredientes.html"
                    >Gest. Ingredientes</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <div class="ms-auto">
            <a class="btn btn-outline-primary" th:href="@{/usuario/nuevo}"
              >Registrarme</a
              
                                            
              
            >
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
