<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head :: head}">
<title>Salud+Bienestar</title>
</head>
<body>
	<header th:replace="~{layouts/header :: header}"></header>
	<div class="container-fluid">
		<section class="pb-4">
			<nav th:replace="~{layouts/nav :: nav}"></nav>
		</section>

		<section class="pb-5 pt-5 mb-5">
		<div class="container">
		<div class="row">
		<div class="col-12 col-md-9 col-xl-5 mx-auto">
		<div class="card text-center bg-light mt-3">
			<div class="card-body text-center">
				<h4 class="card-title">Peso Ideal</h4>
				<form th:action="@{/imc/pesoIdealCalcular/}" th:object="${usuario}"
					method="post">
					<div class="mb-3">
						<label for="id" class="form-label">Ingresar su Nro. de
							Usuario</label> <input type="number" th:field="*{id}"
							class="form-control" id="id" required>
						<div class="text-danger"
							th:text="${existe}?'':'No hay registro del Usuario'"></div>
					</div>
					<button type="submit" class="btn btn-primary">Calcular</button>
				</form>
			</div>
		</div>
		</div>
		</div>
		</div>
		</section>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
</body>
</html>
