<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Salud+Bienestar</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <section class="pb-4">
        <nav class="navbar navbar-expand-lg py-4 position-relative bg-white">
          <div class="container">
            <a class="navbar-brand" href="#"
              ><img src="images/logo-salud-bienestar.svg" alt="" width="106"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul
                class="d-none d-lg-flex navbar-nav mx-auto mt-3 mt-lg-0 mb-3 mb-lg-0 position-absolute top-50 start-50 translate-middle"
              >
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Servicios
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Calcular IMC</a></li>
                    <li><a class="dropdown-item" href="#">Peso Ideal</a></li>
                  </ul>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Recetas</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Testimonios</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Contactanos</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownGestion"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Gestión de datos
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownGestion"
                  >
                    <li><a class="dropdown-item" href="#">Recetas</a></li>
                    <li><a class="dropdown-item" href="#">Testimonios</a></li>
                    <li><a class="dropdown-item" href="#">Ingredientes</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="navbar-nav mt-3 mt-lg-0 mb-3 mb-lg-0 d-lg-none">
                <li class="nav-item me-4">
                  <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMobile"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Servicios
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMobile"
                  >
                    <li><a class="dropdown-item" href="#">Calcular IMC</a></li>
                    <li><a class="dropdown-item" href="#">Peso Ideal</a></li>
                  </ul>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Recetas</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Testimonios</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Contactanos</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownGestionMobile"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Gestión de datos
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownGestionMobile"
                  >
                    <li>
                      <a class="dropdown-item" href="#">Administrador A</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Administrador B</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Administrador C</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="ms-auto">
                <a class="btn btn-outline-primary" href="#">Registrarme</a>
              </div>
            </div>
          </div>
        </nav>
      </section>

      <section class="py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 col-lg-8 col-xxl-7 text-center mx-auto">
              <span class="text-muted">Recetas saludables</span>
              <h2 class="display-5 fw-bold mt-2 mb-3">
                Las recetas más saludables, sabrosas y fáciles de preparar
              </h2>
              <p class="lead text-muted">
                Recetas especialmente seleccionadas por categorías. Descubre una
                amplia gama de ingredientes y sabores y animate a preparar los
                platos más deliciosos y saludables.
              </p>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1587016170014-d19a7772fbc4?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwxNzF8fG1lYXR8ZW58MHx8fHwxNjg4MzM2ODYyfDA&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Carnes</h2>
                <p class="lead text-muted">
                  Descubre deliciosas recetas de carnes que te ayudarán a
                  mantener una alimentación balanceada y saludable.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1665401015549-712c0dc5ef85?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwyOTd8fGZpc2glMjBkaXNofGVufDB8fHx8MTY4ODMzNzEzOXww&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Pescados</h2>
                <p class="lead text-muted">
                  Explora nuestras recetas de pescados, ideales para aquellos
                  que buscan opciones saludables y llenas de sabor.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1550304943-4f24f54ddde9?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHwzNnx8c2FsYWR8ZW58MHx8fHwxNjg4MzM3MTgzfDA&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Ensaladas</h2>
                <p class="lead text-muted">
                  Encuentra las mejores recetas de ensaladas, perfectas para
                  disfrutar de comidas frescas y nutritivas.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1533417177250-227597f5b264?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHw1MXx8YnJlYWR8ZW58MHx8fHwxNjg4MzM3MzU4fDA&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Pan</h2>
                <p class="lead text-muted">
                  Aprende a preparar pan casero y horneado en casa con nuestras
                  recetas saludables y deliciosas.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1647275486864-1b29efb0d570?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHw0ODZ8fGZydWl0JTIwanVpY2V8ZW58MHx8fHwxNjg4MzM3OTk4fDA&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Bebidas</h2>
                <p class="lead text-muted">
                  Refresca tu día con nuestras recetas de bebidas saludables,
                  ideales para mantenerse hidratado.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="https://images.unsplash.com/photo-1474625342403-1b8a2c0f7215?crop=entropy&amp;cs=srgb&amp;fm=jpg&amp;ixid=M3wzMzIzMzB8MHwxfHNlYXJjaHw0NDZ8fHN3ZWV0c3xlbnwwfHx8fDE2ODgzMzg2NzF8MA&amp;ixlib=rb-4.0.3&amp;q=85&amp;w=1920"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Dulces</h2>
                <p class="lead text-muted">
                  Disfruta de postres saludables con nuestras recetas de dulces,
                  sin renunciar al sabor.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="text-center mb-5">
            <a class="btn btn-primary" href="#">Ver otras recetas</a>
          </div>
        </div>
      </section>

      <footer class="py-5 bg-light">
        <div class="container">
          <div class="row border-bottom">
            <div class="col-12 col-lg-3 mb-5">
              <a class="d-inline-block mb-4" href="#">
                <img
                  class="img-fluid"
                  src="images/logo-salud-bienestar.svg"
                  alt=""
                  width="96px"
              /></a>
              <p class="text-muted mb-5">Mejorando tu calidad de vida.</p>
              <div>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-facebook fs-5"></i
                ></a>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-instagram fs-5"></i
                ></a>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-youtube fs-5"></i
                ></a>
                <a class="d-inline-block" href="#">
                  <i class="bi bi-twitter fs-5"></i
                ></a>
              </div>
            </div>
            <div class="col-12 col-lg-9">
              <div class="row">
                <div class="col-6 col-lg-3 offset-lg-3 mb-5">
                  <h4 class="mb-4">Sitio</h4>
                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <a class="text-muted" href="#">Registro</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Gestión de datos</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Preguntas frecuentes</a>
                    </li>
                    <li><a class="text-muted" href="#">Contacto</a></li>
                  </ul>
                </div>
                <div class="col-6 col-lg-3 mb-5">
                  <h4 class="mb-4">Legal</h4>
                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <a class="text-muted" href="#">Términos</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Acerca de</a>
                    </li>
                    <li><a class="text-muted" href="#">Privacidad</a></li>
                  </ul>
                </div>
                <div class="col-6 col-lg-3 mb-5">
                  <h4 class="mb-4">Recursos</h4>
                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <a class="text-muted" href="#">Blog</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Servicios</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Productos</a>
                    </li>
                    <li><a class="text-muted" href="#">Multimedia</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-5 text-center">
            <p>
              Todos los derechos reservados © Grupo 32 - Programación Visual
              2023
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
