<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="~{layouts/head :: head}">
    <title>Salud+Bienestar</title>
  </head>
  <body>
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container-fluid">
      <section class="pb-4">
        <nav th:replace="~{layouts/nav :: nav}"></nav>
      </section>

      <section class="py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 col-lg-8 col-xxl-7 text-center mx-auto">
              <span class="text-muted">Recetas saludables</span>
              <h2 class="display-5 fw-bold mt-2 mb-3">
                Las recetas más saludables, sabrosas y fáciles de preparar
              </h2>
              <p class="lead text-muted">
                Recetas especialmente seleccionadas por categorías. Descubre una
                amplia gama de ingredientes y sabores y animate a preparar los
                platos más deliciosos y saludables.
              </p>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="/images/carnes.jpg"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Carnes</h2>
                <p class="lead text-muted">
                  Descubre deliciosas recetas de carnes que te ayudarán a
                  mantener una alimentación balanceada y saludable.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="/images/pescados.jpg"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Pescados</h2>
                <p class="lead text-muted">
                  Explora nuestras recetas de pescados, ideales para aquellos
                  que buscan opciones saludables y llenas de sabor.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="/images/ensaladas.jpg"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Ensaladas</h2>
                <p class="lead text-muted">
                  Encuentra las mejores recetas de ensaladas, perfectas para
                  disfrutar de comidas frescas y nutritivas.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="/images/panes.jpg"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Pan</h2>
                <p class="lead text-muted">
                  Aprende a preparar pan casero y horneado en casa con nuestras
                  recetas saludables y deliciosas.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="/images/bebidas.jpg"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Bebidas</h2>
                <p class="lead text-muted">
                  Refresca tu día con nuestras recetas de bebidas saludables,
                  ideales para mantenerse hidratado.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="rounded bg-light p-4">
                <div class="position-relative mb-4">
                  <img
                    class="img-fluid rounded"
                    src="/images/dulces.jpg"
                    alt=""
                  />
                </div>
                <span></span>
                <h2 class="h4 fw-bold mb-3">Recetas de Dulces</h2>
                <p class="lead text-muted">
                  Disfruta de postres saludables con nuestras recetas de dulces,
                  sin renunciar al sabor.
                </p>
                <a class="d-flex align-items-center" href="#">
                  <span>Acceder</span>
                  <span>
                    <svg
                      style="width: 14px; height: 14px"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewbox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5l7 7-7 7"
                      ></path>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="text-center mb-5">
            <a class="btn btn-primary" href="#">Ver otras recetas</a>
          </div>
        </div>
      </section>

      <footer th:replace="~{layouts/footer :: footer}"></footer>
    </div>
  </body>
</html>
