<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="~{layouts/head :: head}">
    <title>Salud+Bienestar</title>
  </head>
  <body>
    <header th:replace="~{layouts/header :: header}"></header>
    <div class="container-fluid">
      <section class="pb-4">
        <nav th:replace="~{layouts/nav :: nav}"></nav>
      </section>

      <section class="pt-5 pb-3">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-7 text-center">
              <span class="text-muted">Registro de usuarios</span>
              <h2 class="display-5 fw-bold mt-2 mb-3">
                Registrate gratis ahora y formá parte de nuestra comunidad
              </h2>
              <p class="lead text-muted mb-4">
                Te invitamos a completar el formulario y crear tu cuenta, el
                registro es totalmente gratuito y te permitirá acceder a más
                funciones y contenidos.
              </p>
              <div class="d-flex flex-wrap justify-content-center"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="pb-5 pt-3">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-9 col-xl-5 mx-auto">
              <div class="p-5 bg-light rounded">
                <p class="text-muted text-center">
                  <span>Nuevos usuarios</span>
                </p>
                <h3 class="fw-bold mb-5 text-center">
                  Crear tu nueva cuenta<br />
                </h3>
                <form action="#">
                  <div class="row mb-2">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                      <label for="id1" class="form-label">Nombre</label>
                      <input class="form-control" type="text" id="id1" />
                    </div>
                    <div class="col-12 col-lg-6">
                      <label for="id2" class="form-label">Apellido</label>
                      <input class="form-control" type="text" id="id2" />
                    </div>
                  </div>
                  <label for="id3" class="form-label">E-mail</label>
                  <input class="form-control mb-2" type="email" id="id3" />
                  <div class="row mb-2">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                      <label for="id4" class="form-label"
                        >Fecha de nacimiento</label
                      >
                      <input class="form-control mb-2" type="date" id="id4" />
                    </div>
                    <div class="col-12 col-lg-6">
                      <label for="id5" class="form-label">Teléfono</label>
                      <input class="form-control" type="text" id="id5" />
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                      <label for="id6" class="form-label">Sexo</label>
                      <input class="form-control" type="text" id="id6" />
                    </div>
                    <div class="col-12 col-lg-6">
                      <label for="id7" class="form-label">Estatura</label>
                      <input class="form-control" type="text" id="id7" />
                    </div>
                  </div>
                  <button class="btn btn-primary py-2 w-100 my-3">
                    Aceptar y registrarme
                  </button>
                </form>
                <p class="text-muted text-center">
                  <small>
                    <span>Al aceptar se le asignará su código de usuario.</span>
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer th:replace="~{layouts/footer :: footer}"></footer>
    </div>
  </body>
</html>
