<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/head :: head}">
<title>Salud+Bienestar</title>
</head>
<body>
	<header th:replace="~{layouts/header :: header}"></header>
	<div class="container-fluid">
		<section class="pb-4">
			<nav th:replace="~{layouts/nav :: nav}"></nav>
		</section>

		<div class="container">
			<h3 class="text-center">Testimonios</h3>
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

				<div class="col d-flex justify-content-center"
					th:each="testimonio: ${testimonios}">
					<div class="card p-3 text-center px-4" style="width: 20rem;">
						<div class="user-content">
							<p class="card-text" th:text="${testimonio.comentario}">
							<p class="testimonial-author"
								th:text="${testimonio.usuario.nombre}+' '+${testimonio.usuario.apellido}"></p>
							<p class="testimonial-text"
								th:text="${testimonio.fechaPublicacion}"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="gap-2 text-center">
				<a class=" btn boton-imc m-5" th:href="@{/testimonio/inicio}">Nuevo testimonio</a>
			</div>
		</div>

		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
</body>
</html>
