<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Salud+Bienestar</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container-fluid">
      <section class="pb-4">
        <nav class="navbar navbar-expand-lg py-4 position-relative bg-white">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="images/logo-salud-bienestar.svg" alt="" width="106"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul
                class="d-none d-lg-flex navbar-nav mx-auto mt-3 mt-lg-0 mb-3 mb-lg-0 position-absolute top-50 start-50 translate-middle"
              >
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Servicios
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Calcular IMC</a></li>
                    <li><a class="dropdown-item" href="#">Peso Ideal</a></li>
                  </ul>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Recetas</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Testimonios</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Contactanos</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownGestion"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Gestión de datos
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownGestion"
                  >
                    <li><a class="dropdown-item" href="#">Recetas</a></li>
                    <li><a class="dropdown-item" href="#">Testimonios</a></li>
                    <li><a class="dropdown-item" href="#">Ingredientes</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="navbar-nav mt-3 mt-lg-0 mb-3 mb-lg-0 d-lg-none">
                <li class="nav-item me-4">
                  <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownMobile"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Servicios
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownMobile"
                  >
                    <li><a class="dropdown-item" href="#">Calcular IMC</a></li>
                    <li><a class="dropdown-item" href="#">Peso Ideal</a></li>
                  </ul>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Recetas</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Testimonios</a>
                </li>
                <li class="nav-item me-3">
                  <a class="nav-link" href="#">Contactanos</a>
                </li>
                <li class="nav-item dropdown me-3">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownGestionMobile"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Gestión de datos
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdownGestionMobile"
                  >
                    <li>
                      <a class="dropdown-item" href="#">Administrador A</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Administrador B</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Administrador C</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="ms-auto">
                <a class="btn btn-outline-primary" href="#">Registrarme</a>
              </div>
            </div>
          </div>
        </nav>
      </section>

      <section class="py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 col-lg-8 mx-auto text-center">
              <span class="text-muted">Testimonios</span>
              <h2 class="display-5 fw-bold mt-2 mb-3">
                Testimonios de los usuarios de Salud+Bienestar
              </h2>
              <p class="lead text-muted">
                Estos son algunos de los testimonios de usuarios satisfechos que
                comparten sus opiniones y experiencias acerca de nuestro sitio
                web.
              </p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="p-4 bg-light rounded">
                <p class="lead text-muted mb-5">
                  Gracias a este sitio web, he logrado perder peso de manera
                  saludable y mantenerlo a largo plazo. Las recetas y consejos
                  son fáciles de seguir y realmente efectivos. Felicito a los
                  creadores de Salud y Bienestar.
                </p>
                <img
                  class="img-fluid mb-3"
                  src="images/blue-400-avatar.png"
                  alt=""
                  style="width: 48px; height: 48px"
                />
                <h4 class="fw-bold">Myriam</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="p-4 bg-light rounded">
                <p class="lead text-muted mb-5">
                  Estoy encantada con los resultados que he obtenido siguiendo
                  las recomendaciones de esta página. Me siento mucho mejor
                  conmigo misma y las chicas del barrio ya no se burlan de mí.
                </p>
                <img
                  class="img-fluid mb-3"
                  src="images/blue-400-avatar.png"
                  alt=""
                  style="width: 48px; height: 48px"
                />
                <h4 class="fw-bold">Susana G.</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
              <div class="p-4 bg-light rounded">
                <p class="lead text-muted mb-5">
                  Recomiendo este sitio web a todos aquellos que deseen mejorar
                  su salud y bienestar. Las herramientas y recursos disponibles
                  son realmente útiles y motivadores. Me gustaría que sigan
                  ampliando contenidos.
                </p>
                <img
                  class="img-fluid mb-3"
                  src="images/blue-400-avatar.png"
                  alt=""
                  style="width: 48px; height: 48px"
                />
                <h4 class="fw-bold">Pedro Liberal</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
              <div class="p-4 bg-light rounded">
                <p class="lead text-muted mb-5">
                  Al principio tenía mis dudas, mi familia insistía en que debía
                  mejorar mi peso y estado físico, cuando comencé no estaba muy
                  animado pero luego empecé a ver cambios impactantes que me
                  motivaron a seguir. Ahora soy fan de S+B.
                </p>
                <img
                  class="img-fluid mb-3"
                  src="images/blue-400-avatar.png"
                  alt=""
                  style="width: 48px; height: 48px"
                />
                <h4 class="fw-bold">Renato D.</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-0">
              <div class="p-4 bg-light rounded">
                <p class="lead text-muted mb-5">
                  Una amiga me recomendó mucho este sitio y pensé que exageraba,
                  pero la verdad que me sorprendió esta página. Los avances que
                  logré con mi rutina de dietas superaron mis expectativas,
                  tanto así que hoy soy otra persona.
                </p>
                <img
                  class="img-fluid mb-3"
                  src="images/blue-400-avatar.png"
                  alt=""
                  style="width: 48px; height: 48px"
                />
                <h4 class="fw-bold">Bruno Díaz</h4>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="p-4 bg-light rounded">
                <p class="lead text-muted mb-5">
                  Yo quiero dar las gracias a la gente genial que hizo posible
                  la creación de Internet, gracias a eso pude descubrir este
                  sitio y hoy puedo decir que mi vida no sería la misma sin la
                  página de Salud y Bienestar. Las recetas son espectaculares
                </p>
                <img
                  class="img-fluid mb-3"
                  src="images/blue-400-avatar.png"
                  alt=""
                  style="width: 48px; height: 48px"
                />
                <h4 class="fw-bold">Angelina</h4>
              </div>
            </div>
          </div>
          <div class="text-center mt-5 mb-5">
            <a class="btn btn-primary" href="#">Ver más testimonios</a>
          </div>
        </div>
      </section>

      <footer class="py-5 bg-light">
        <div class="container">
          <div class="row border-bottom">
            <div class="col-12 col-lg-3 mb-5">
              <a class="d-inline-block mb-4" href="#">
                <img
                  class="img-fluid"
                  src="images/logo-salud-bienestar.svg"
                  alt=""
                  width="96px"
              /></a>
              <p class="text-muted mb-5">Mejorando tu calidad de vida.</p>
              <div>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-facebook fs-5"></i
                ></a>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-instagram fs-5"></i
                ></a>
                <a class="d-inline-block me-3" href="#">
                  <i class="bi bi-youtube fs-5"></i
                ></a>
                <a class="d-inline-block" href="#">
                  <i class="bi bi-twitter fs-5"></i
                ></a>
              </div>
            </div>
            <div class="col-12 col-lg-9">
              <div class="row">
                <div class="col-6 col-lg-3 offset-lg-3 mb-5">
                  <h4 class="mb-4">Sitio</h4>
                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <a class="text-muted" href="#">Registro</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Gestión de datos</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Preguntas frecuentes</a>
                    </li>
                    <li><a class="text-muted" href="#">Contacto</a></li>
                  </ul>
                </div>
                <div class="col-6 col-lg-3 mb-5">
                  <h4 class="mb-4">Legales</h4>
                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <a class="text-muted" href="#">Términos</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Acerca de</a>
                    </li>
                    <li><a class="text-muted" href="#">Privacidad</a></li>
                  </ul>
                </div>
                <div class="col-6 col-lg-3 mb-5">
                  <h4 class="mb-4">Recursos</h4>
                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <a class="text-muted" href="#">Blog</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Servicios</a>
                    </li>
                    <li class="mb-2">
                      <a class="text-muted" href="#">Productos</a>
                    </li>
                    <li><a class="text-muted" href="#">Multimedia</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-5 text-center">
            <p>
              Todos los derechos reservados © Grupo 32 - Programación Visual
              2023
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
